<div class="my-5 mx-auto border border-dark p-3">
  <h1 class="text-center">{{book.title}}</h1>
  <div class="media">
    <img class="mr-3" *ngIf="book.imageUrl" [src]="book.imageUrl" alt="{{book.title}}">
    <div class="media-body col-6">
      <div  *ngFor="let author of book.authors?.author">
        <b>{{author.role || 'Author'}}:</b> {{author.name}}
      </div>
      <div  *ngIf="!book.authors?.author?.length && book.authors?.author">
        <b>{{book.authors?.author.role || 'Author'}}:</b> {{book.authors?.author.name}}
      </div>
      <div  *ngIf="book.publisher">
        <b>Publisher:</b> {{book.publisher}}
      </div>
      <div *ngIf="book.publication_year">
        <b>Publication date: </b> {{book.publication_day + '/' + book.publication_month + '/' + book.publication_year}}</div>
      <div *ngIf="book.num_pages">
        <b>Pages:</b> {{book.num_pages}}
      </div>
      <div  *ngIf="book.format">
        <b>Format:</b> {{book.format}}
      </div>
      <div *ngIf="book.is_ebook">
        <b>Ebook:</b> {{book.is_ebook}}
      </div>
      <div *ngIf="book.language_code">
        <b>Language:</b> {{book.language_code}}
      </div>
      <div  *ngIf="book.id">
        <b>Goodreads id:</b>
        {{book.id}}
        <a [href]="book.link">Go to book</a>
      </div>
      <div  *ngIf="book.isbn">
        <b>ISBN:</b>
        {{book.isbn}}
      </div>
      <div *ngIf="book.isbn13">
        <b>ISBN13:</b>
        {{book.isbn13}}
      </div>
      <div  *ngIf="book.asin">
        <b>ASIN:</b> {{book.asin}}
      </div>
      <div  *ngIf="book.kindle_asin">
        <b>Kindle ASIN: </b>{{book.kindle_asin}}
      </div>
      <div *ngIf="book.average_rating">
        <b>Average rating: </b>{{book.average_rating}}
      </div>
      <div *ngIf="book.ratings_count">
        <b>Ratings count:</b> {{book.ratings_count}}
      </div>
      <div *ngIf="book.text_reviews_count">
        <b>Review count:</b> {{book.text_reviews_count}}
      </div>
      <div *ngIf="book.edition_information">
        <b>Edition info:</b> {{book.edition_information}}
      </div>
      <button type="button" class="btn btn-info" (click)="searchBook(book.id)">Search book</button>
    </div>
    <div class="col-6">
      <div *ngIf="book.reviewsWidget" [innerHTML]="book.reviewsWidget"></div>
      <div *ngIf="book.series_works?.series_work">
        <h3>Serie</h3>
        <div *ngIf="book.series_works?.series_work?.series_work?.length">
          <div *ngFor="let serie in book.series_work?.series_work">
            <div [innerHTML]="serie.series.title"></div>
            <div [innerHTML]="serie.series.description"></div>
            <div [innerHTML]="serie.series.note"></div>
          </div>
        </div>
        <div *ngIf="!book.series_works.series_work.length">
          <div [innerHTML]="book.series_works.series_work.series.title"></div>
          <div [innerHTML]="book.series_works.series_work.series.description"></div>
          <div [innerHTML]="book.series_works.series_work.series.note"></div>
        </div>
      </div>
    </div>
  </div>
  <h3 *ngIf="book.description">Description</h3>
  <p *ngIf="book.description" [innerHTML]="book.description"></p>
  <div *ngIf="book.authors?.author?.length > 0">
    <h2>
      AUTORI
    </h2>
    <div class="border border-secondary" *ngFor="let author of book.authors?.author">
      <app-author [author]="author"></app-author>
    </div>
  </div>
  <div *ngIf="book.authors?.author && !book.authors?.author.length">
    <app-author [author]="book.authors.author"></app-author>
  </div>
  <div class="my-2" *ngIf="book.popular_shelves?.shelf?.length">
    <h3>Tags</h3>
    <div class="row">
      <div class="col-3" *ngFor="let shelf of book.popular_shelves.shelf">{{shelf.$.name +'('+shelf.$.count +')'}}</div>
    </div>
  </div>
  <div *ngIf="book.buy_links?.buy_link" class="my-2">
    <h3>Buy Links</h3>
    <div class="row" *ngIf="book.buy_links.buy_link.length">
      <div class="col-3"  *ngFor="let link of book.buy_links.buy_link">
        <app-book-link [link]="link" [bookId]="book.id"></app-book-link>
      </div>
    </div>
    <div *ngIf="book.buy_links.buy_link.link" class="my-2">
      <app-book-link [link]="book.buy_links.buy_link" [bookId]="book.id"></app-book-link>
    </div>
  </div>
  <div *ngIf="book.book_links?.book_link" class="my-2">
    <h3>Other Links</h3>
    <div *ngIf="book?.book_links?.book_link.length">
      <div class="col-3"  *ngFor="let link of book.book_links.book_link">
        <app-book-link [link]="link" [bookId]="book.id"></app-book-link>
      </div>
    </div>
    <div *ngIf="book.book_links.book_link.link" class="my-2">
      <app-book-link [link]="book.book_links.book_link" [bookId]="book.id"></app-book-link>
    </div>
  </div>
  <div *ngIf="book.similar_books?.book?.length">
    <h3>Similar books</h3>
    <div *ngFor="let minibook of book.similar_books.book">
      <app-book-mini [book]="minibook" (searchById)="searchBook($event)"></app-book-mini>
    </div>
  </div>
</div>
