<div class="content" role="main">
  <h1 class="text-center my-3">Goodreads find books</h1>
    <div class="col-8 mx-auto">
      <div class="row">
        <input  class="form-control col-10" placeholder="Insert isbn code" type="text" id="isbn-input" name="isbn-input"
                [(ngModel)]="isbnCode" (keyup)="checkIfEnter($event)">
        <button class="btn btn-primary mx-1" (click)="getIdByIsbn()">get book</button>
      </div>
    </div>

    <div class="col-8 mx-auto">
      <div class="row">
        <input  class="form-control col-10" placeholder="Insert goodreads id" type="text" id="id-input" name="id-input"
                [(ngModel)]="bookId" (keyup)="$event.key === 'Enter' ? getBookById(): ''">
        <button class="btn btn-primary mx-1" (click)="getBookById()">get book</button>
      </div>
    </div>
    <div class="col-6 mx-auto my-3" *ngIf="bookUrl">
      <p>Goodreads url:&nbsp;&nbsp;<a href="{{bookUrl}}" target="_blank">
        {{bookUrl}}
      </a>
      </p>
    </div>
    <div class="col-6 mx-auto my-3" *ngIf="reviewUrl">
      <p>Add to Goodreads url:&nbsp;&nbsp;
      <a href="{{reviewUrl}}" target="_blank">
        {{reviewUrl}}
      </a>
      </p>
  </div>
  <div class="col-6 mx-auto my-3 alert alert-danger" *ngIf="error" role="alert">
      Book not found
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <app-book *ngIf="book" [book]="book"></app-book>
    </div>
  </div>
</div>
